{% extends 'base.html' %}

{% block page_content %}
    <div class="profile">
        <div class="profile-recipes">
            {% if not profile_recipes %}
                <h1>You don't have any added recipes.</h1>
                <a href="{% url 'create recipe page' %}">Add Recipe</a>
            {% else %}
                <h1>My Recipes</h1>
                {% for recipe in profile_recipes %}
                    <div class="profile-recipes-item">
                        <h3>{{ recipe.title }}</h3>
                        <a href="{% url 'show recipe page' recipe.pk %}">View</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}