.profile-details {
    height: 80vh;
    width: 45vw;

    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.profile-details form {
    height: 100%;
    width: 100%;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.profile-details form label {
    height: fit-content;
    width: fit-content;
    font-size: 1.125em;
    padding: 0.8rem;

    text-align: center;

    line-height: 3vh;

    border-radius: 10px;
}

.profile-details form input {
    height: 5vh;
    width: 50%;
    font-size: 1.125em;
    text-align: center;

    background-color: transparent;

    border-style: none;
    border-radius: 10px;

    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.profile-details form input[type='file'] {
    box-shadow: none;
}

.profile-details form input:focus {
    outline: none;
}

.profile-details form input:focus::placeholder {
    color: transparent;
    transition: 0.3s ease;
}

.profile-details form input::-webkit-file-upload-button {
    height: 3vh;
    min-width: 10vw;

    padding: 0 8px 0 8px;
    margin-right: 8px;

    background-color: #0066CC;
    color: white;

    border-style: none;
    border-radius: 15px;

    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}


.profile-details form button {
    height: 5vh;
    width: 10vw;
    font-size: 1.125em;

    margin-top: 2rem;

    color: white;
    background-color: #0066CC;

    border-style: none;
    border-radius: 15px;

    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}
