.recipe-header {
    text-align: center;
    padding-top: 2rem;
}

.recipe-header h1 {
    font-size: 4em;
}

.recipe-header form {
    padding-top: 1rem;
}

.recipe-header form select {
    width: 7vw;
    text-align: center;
    font-size: 1.125em;
    border-radius: 10px;
    border-style: none;
    background-color: transparent;
    box-shadow:
            rgba(6, 24, 44, 0.4) 0 0 0 2px,
            rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
            rgba(255, 255, 255, 0.08) 0 1px 0 inset;

    cursor: pointer;
}

.recipe-header form select option {
    background-color: #EBD8C3;
}

.recipe-header form button {
    height: 3.5vh;
    width: 4vw;
    font-size: 1em;

    margin-left: 1rem;

    color: #87431D;
    background-color: #EBD8C3;
    font-weight: bold;

    cursor: pointer;

    border-style: none;
    border-radius: 15px;
    text-decoration: none;

    box-shadow:
            rgba(0, 0, 0, 0.4) 0 2px 4px,
            rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.recipe-dashboard {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 2rem;
}

.recipe-dashboard .card {
    height: 60vh;
    width: 30vw;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 1rem;

    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.recipe-dashboard .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.025);
    cursor: pointer;
}

.recipe-dashboard a,
.recipe-dashboard a:hover,
.recipe-dashboard a:active,
.recipe-dashboard a:focus,
.recipe-dashboard a:hover,
.recipe-dashboard a:visited { text-decoration: none;}
