{% extends 'base.html' %}

{% block page_content %}
    <div class="course">
        <div class="course-dashboard">
            <div class="course-header">
                <h1>Recommended Cooking Courses</h1>
                {% if user.is_staff %}
                    <a href="{% url 'create course page' %}">Add course</a>
                {% endif %}
            </div>
            <div class="course-dashboard-content">
                {% if courses %}
                    {% for course in courses %}
                        <div class="card">
                            <a href="{{ course.link }}">
                                <div class="course-image" style="background-image: url({{ course.image.url }})"></div>
                                <h3>{{ course.name|title }}</h3>
                            </a>
                            {% if user.is_staff %}
                                <div class="course-buttons">
                                    <a href="{% url 'edit course page' course.pk %}">Edit</a>
                                    <a href="{% url 'delete course page' course.pk %}">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>No courses here :(</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
